<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="login flex align-center justify-center">
    <% if(errors && errors.length > 0){ %>
    <ul class="errors">
      <% errors.forEach((error,index) => { %>
      <li class="error"><span><%= (index + 1) %>.</span> <%= error %></li>
      <% }) %>
    </ul>

    <% } %>
    <div></div>
    <% if(msg && msg.length > 0){ %>
    <div>
      <p class="msg"><%= msg %></p>
    </div>
    <% } %>
    <section class="login-section flex flex-col justify-center align-center">
      <h3>
        Sign in with
      </h3>
      <div>
        <a
          class="btn btn-google flex align-center space-between"
          href="/users/auth/google"
        >
          <span class="btn-icon">
            <img width="16" src="/images/icons/google.svg" alt="Google icon" />
          </span>
          <span>GOOGLE</span>
        </a>
      </div>
      <div class="hr"></div>
      <h3>
        Or sign in with credentials
      </h3>
      <form class="login-form" action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">EMAIL</label>
          <input type="email" id="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="password">PASSWORD</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <button class="btn btn-login" type="submit">login</button>
      </form>
    </section>
  </body>
</html>
