*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 18px;
  line-height: 1.5;
  background: $primary;
}


a {
  color: whitesmoke;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

strong{
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

input {
  font-family: $font-family;
  font-size: 1rem;
  outline: 0;
}

.btn {
  background: none;
  outline: 0;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

// Admin dashboard general css
.sidebar-gap {
  display: grid;
  grid-template-columns: 16vw auto;
}

.sidebar {
  position: fixed;
  width: 16vw;
  min-height: 100vh;
  background: $secondary;
  z-index: 1;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}

.sd-link-item,
.sd-list-item {
  color: $primary;
}

.sd-list-item {
  margin: 0.5rem 0;
}

.fa-gap {
  margin-right: 0.55rem;
}

.main {
  padding: 2.25rem 2.5rem;
  grid-column-start: 2;
  position: relative;
}

.display-details {
  position: absolute;
  top: 0.5%;
  right: 2.5%;
}

.logout {
  align-items: center;
}

.logout > * {
  margin-left: 1rem;
}

.dashboard-container {
  margin-left: 16vw;
  padding-top: 1rem;
}

.sd-link-item:hover {
  color: rgba($primary, 0.5);
  text-decoration: none;
}

