@import "layouts/reset";
@import "variables";
@import "general";
@import "layouts/header";
@import "login";
@import "verify";

.admin-dashboard {
  .btn-action {
    font-weight: bold;
    padding: 0.35rem;
    background: rgba($secondary, 0.2);
    text-decoration: none;
    &:hover {
      transform: scale(1.1);
      transition: transform ease-in-out 250ms;
    }
  }
  .btn-approve {
    color: green;
  }
  .btn-disapprove {
    color: tomato;
  }
}
