/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: #f1f3f6; }

a {
  color: whitesmoke;
  text-decoration: none; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

.flex {
  display: flex; }

.flex-col {
  flex-direction: column; }

.space-between {
  justify-content: space-between; }

.justify-center {
  justify-content: center; }

.align-center {
  align-items: center; }

input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  outline: 0; }

.btn {
  background: none;
  outline: 0;
  border: 0;
  font-weight: 500;
  cursor: pointer; }

.sidebar-gap {
  display: grid;
  grid-template-columns: 16vw auto; }

.sidebar {
  position: fixed;
  width: 16vw;
  min-height: 100vh;
  background: #3a414e;
  z-index: 1;
  font-size: 1.1rem;
  padding: 1rem 1.5rem; }

.sd-link-item,
.sd-list-item {
  color: #f1f3f6; }

.sd-list-item {
  margin: 0.5rem 0; }

.fa-gap {
  margin-right: 0.55rem; }

.main {
  padding: 2.25rem 2.5rem;
  grid-column-start: 2;
  position: relative; }

.display-details {
  position: absolute;
  top: 0.5%;
  right: 2.5%; }

.logout {
  align-items: center; }

.logout > * {
  margin-left: 1rem; }

.dashboard-container {
  margin-left: 16vw;
  padding-top: 1rem; }

.sd-link-item:hover {
  color: rgba(241, 243, 246, 0.5);
  text-decoration: none; }

header {
  background: #3a414e;
  position: absolute;
  width: 100%;
  padding: 0.8rem; }
  header h2 {
    font-weight: 500; }
  header .search-product {
    padding: 0.5rem 1rem;
    width: 350px; }
  header .btn-search {
    background: white;
    color: #3a414e;
    padding: 0.3rem;
    margin-left: -0.5%;
    cursor: pointer; }
  header .btn-login,
  header .btn-register {
    background: #f1f3f6;
    color: #3a414e;
    padding: 0.4rem 1rem;
    margin-left: 1rem;
    border-radius: 0.2rem;
    font-size: 0.95rem; }
  header .head-links {
    color: #f1f3f6;
    margin-left: 2.5rem; }
  header .cart {
    position: relative;
    display: inline-block; }
  header .quantity {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a414e;
    background: #f1f3f6;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    top: -35%;
    left: -65%;
    padding: 0.35rem;
    font-size: 1rem; }
  header .dropbtn {
    background-color: #3a414e;
    color: #f1f3f6;
    padding: 16px;
    font-size: 16px;
    border: none; }
  header .dropdown {
    position: relative;
    display: inline-block; }
  header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  header .dropdown-content a {
    color: #3a414e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem; }
  header .dropdown-content a:hover {
    background-color: #f1f1f1; }
  header .dropdown:hover .dropdown-content {
    display: block; }
  header .dropdown:hover .dropbtn {
    background-color: rgba(241, 243, 246, 0.1); }

.register,
.login {
  background: #3a414e;
  height: 100vh; }
  .register .register-section,
  .register .login-section,
  .login .register-section,
  .login .login-section {
    background: #f1f3f6;
    width: 360px;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
  .register h3,
  .login h3 {
    font-size: 0.85rem;
    padding: 0.75rem 0; }
  .register .hr,
  .login .hr {
    padding: 0.5rem 0;
    border-bottom: 1px solid black; }
  .register .register-form,
  .register .login-form,
  .login .register-form,
  .login .login-form {
    padding: 1rem 0; }
  .register label,
  .login label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 500; }
  .register input,
  .login input {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.8rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 0.8rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
  .register .btn-register,
  .register .btn-login,
  .login .btn-register,
  .login .btn-login {
    width: 100%;
    padding: 0.75rem 1rem;
    font-weight: 700;
    background: #000000;
    color: #f1f3f6;
    border-radius: 0.25rem;
    margin: 0.5rem 0; }
  .register .btn-google,
  .login .btn-google {
    color: #000000;
    background: white;
    padding: 0.4rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
    .register .btn-google .btn-icon,
    .login .btn-google .btn-icon {
      margin-right: 0.75rem; }
    .register .btn-google .btn-icon + span,
    .login .btn-google .btn-icon + span {
      font-size: 0.95rem; }
    .register .btn-google:hover,
    .login .btn-google:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.1); }
  .register .errors,
  .login .errors {
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    width: 300px; }
  .register .error,
  .login .error {
    padding: 0.15rem 2rem;
    background: #f1f3f6;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
    transition: ease-in 250ms; }
  .register .msg,
  .login .msg {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #f1f3f6; }

.verify {
  height: 100vh;
  overflow-y: hidden; }
  .verify form {
    max-width: 300px;
    text-align: left; }
  .verify .partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 2px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 330px;
    min-width: 330px;
    padding: 0.75rem; }
  .verify #divInner {
    left: 0;
    position: sticky; }
  .verify #divOuter {
    width: 290px;
    overflow: hidden; }
  .verify .resend-link {
    color: #3a414e;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 700; }
  .verify .btn-verify {
    width: 100%;
    background: #3a414e;
    color: #f1f3f6;
    margin: 0.75rem 0;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1rem;
    width: 96%; }
    .verify .btn-verify:hover {
      box-shadow: 0 2px 3px #f1f3f6;
      transform: scale(1.015);
      transition: transform ease-out 350ms; }
  .verify label,
  .verify input {
    display: inline-block;
    width: 96%; }
  .verify .mobile {
    padding: 0.75rem;
    margin-bottom: 1rem; }
  .verify .errors {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%); }
    .verify .errors .error {
      color: black; }

.admin-dashboard .btn-action {
  font-weight: bold;
  padding: 0.35rem;
  background: rgba(58, 65, 78, 0.2);
  text-decoration: none; }
  .admin-dashboard .btn-action:hover {
    transform: scale(1.1);
    transition: transform ease-in-out 250ms; }

.admin-dashboard .btn-approve {
  color: green; }

.admin-dashboard .btn-disapprove {
  color: tomato; }

/*# sourceMappingURL=style.css.map */