header {
  background: $secondary;
  position: absolute;
  width: 100%;
  padding: 0.8rem;
  h2 {
    font-weight: 500;
  }
  .search-product {
    padding: 0.5rem 1rem;
    width: 350px;
  }
  .btn-search {
    background: white;
    color: $secondary;
    padding: 0.3rem;
    margin-left: -0.5%;
    cursor: pointer;
  }
  .btn-login,
  .btn-register {
    background: $primary;
    color: $secondary;
    padding: 0.4rem 1rem;
    margin-left: 1rem;
    border-radius: 0.2rem;
    font-size: 0.95rem;
  }
  .head-links {
    color: $primary;
    margin-left: 2.5rem;
  }
  .cart {
    position: relative;
    display: inline-block;
  }
  .quantity {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary;
    background: $primary;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    top: -35%;
    left: -65%;
    padding: 0.35rem;
    font-size: 1rem;
  }
  .dropbtn {
    background-color: $secondary;
    color: $primary;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content a {
    color: $secondary;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: rgba($primary, 0.1);
  }
}
